* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.upText {
    font-family: 'Manrope';
    width: 80%;
}

.upText h2 {
    font-size: 3.2vh;
    color: #374842;
}


.upText h1 {
    font-size: 6.9vh;
    font-weight: 900;
    line-height: 1;
    color: #374842;
}

.profile {
    float: right;
    position: relative;
    bottom: 17vh;
}

.profile img {
    height: 8vh;
    width: auto;
    cursor: pointer;
    outline: none;
    border-radius: 30px;
    transition: 100ms ease;
}

.profile img:hover {
    outline: solid 3px rgb(236, 236, 236);
}

.profile img:active {
    outline: solid 9px rgb(236, 236, 236);
}

.mPencarian {
    position: relative;
    bottom: 50px;
}

.pencarian input {
    height: 6vh;
    width: 100%;
    padding: 0 15px;
    font-family: 'Manrope';
    border-radius: 8px;
    border: none;
    background-color: #F1F2FA;
    outline: none;
}

.pencarian label {
    position: absolute;
    left:  100%;
    margin-top: 1.8vh;
    cursor:pointer;
}

.pencarian label svg {
    height: 2.5vh;
    width: auto;
    fill: #979797;
    transition: 200ms ease;
}

.pencarian label svg:hover {
    fill: black;
}

@media only screen and (max-width: 400px) {
    .mPencarian {
        position: relative;
        bottom: 25px;
    }
    .pencarian label {
        position: absolute;
        left:  92%;
        margin-top: 0.7vh;
        cursor:pointer;
    }
    .pencarian input {
        height: 4vh;
        width: 100%;
        padding: 0 15px;
        font-family: 'Manrope';
        border-radius: 8px;
        border: none;
        background-color: #F1F2FA;
        outline: none;
    }
    .pencarian label svg {
        height: 1.7vh;
        width: auto;
        fill: #979797;
        transition: 200ms ease;
    }
    .profile img {
        height: 5vh;
        width: auto;
        cursor: pointer;
        outline: none;
        border-radius: 30px;
        transition: 100ms ease;
    }
    .profile {
        float: right;
        position: relative;
        bottom: 12vh;
    }
    .upText {
        font-family: 'Manrope';
        width: 70%;    
    }
    .upText h2 {
        font-size: 2vh;
    }
    .upText h1 {
        font-size: 5vh;
        font-weight: 900;
        line-height: 1;
        color: #374842;
    }
}