.gradientSimulasi {
    position: absolute;
    height: 25vh;
    width: 100%;
    border-radius: 17px;
    z-index: 1;
    opacity: 0.3;
    background: rgb(34,34,34);
    background: linear-gradient(0deg, rgba(34,34,34,1) -10%, rgba(20,20,20,0) 80%);
    transition: 800ms ease;
}

.gradientSimulasi:hover {
    opacity: 1;
}

.simulasiMode .wrap {
    background: #AF81E0;
    height: 25vh;
    width: 100%;
    border-radius: 17px;
    outline: solid 2px #D8DAED;
}

.simulasiMode .rocket {
    height: 25vh;
    width: 60%;
    object-fit: cover;
    object-position: -20px 30%;
    position: absolute;
}

.siText {
    background-color: white;
    padding: 20px 15px;
    height: 25vh;
    width: 45%;
    border-radius: 0 17px 17px 0;
    margin-left: 55%;
    font-family: 'Manrope';
    color: #374842;
}

.siText h2 {
    font-size: 4vh;
    font-weight: 900;
    line-height: 1.1;
}

.siText p {
    padding-top: 5px;
    font-size: 90%;
}

.simulasiMode {
    border-radius: 18px;
    cursor: pointer;
    margin-top: 0px;
}


/*//////*/

.gradientSandbox {
    position: absolute;
    height: 25vh;
    width: 100%;
    border-radius: 17px;
    z-index: 1;
    opacity: 0.3;
    background: rgb(34,34,34);
    background: linear-gradient(0deg, rgba(34,34,34,1) -10%, rgba(20,20,20,0) 80%);
    transition: 800ms ease;
}

.gradientSandbox:hover {
    opacity: 1;
}

.sandboxMode .wrapSa {
    background: #E9BDAC;
    height: 25vh;
    width: 100%;
    border-radius: 17px;
    outline: solid 2px #D8DAED;
}

.sandboxMode .planetO {
    height: 25vh;
    width: 85%;
    object-fit: cover;
    object-position: -80px 40%;
    position: absolute;
}

.saText {
    background-color: white;
    padding: 20px 15px;
    height: 25vh;
    width: 45%;
    border-radius: 0 17px 17px 0;
    margin-left: 55%;
    font-family: 'Manrope';
    color: #374842;
}

.saText h2 {
    font-size: 4vh;
    font-weight: 900;
    line-height: 1.1;
}

.saText p {
    padding-top: 5px;
    font-size: 90%;
}

.sandboxMode {
    border-radius: 18px;
    cursor: pointer;
    margin-top: 25px;
}

/*//////*/

.gradientVersus {
    position: absolute;
    height: 25vh;
    width: 100%;
    border-radius: 17px;
    z-index: 1;
    opacity: 0.3;
    background: rgb(34,34,34);
    background: linear-gradient(0deg, rgba(34,34,34,1) -10%, rgba(20,20,20,0) 80%);
    transition: 800ms ease;
}

.gradientVersus:hover {
    opacity: 1;
}

.versusMode .wrapVe {
    background: #F0FFA0;
    height: 25vh;
    width: 100%;
    border-radius: 17px;
    outline: solid 2px #D8DAED;
}

.versusMode .pencils {
    height: 25vh;
    width: 78%;
    object-fit: cover;
    object-position: -60px 37%;
    position: absolute;
}

.veText {
    background-color: white;
    padding: 20px 15px;
    height: 25vh;
    width: 45%;
    border-radius: 0 17px 17px 0;
    margin-left: 55%;
    font-family: 'Manrope';
    color: #374842;
}

.veText h2 {
    font-size: 4vh;
    font-weight: 900;
    line-height: 1.1;
}

.veText p {
    padding-top: 5px;
    font-size: 90%;
}

.versusMode {
    border-radius: 18px;
    cursor: pointer;
    margin-top: 25px;
}

/* @media only screen and (max-width: 430px) {
    .gradientSimulasi {
        position: absolute;
        height: 12vh;
        width: 100%;
    }
    .simulasiMode .wrap {
        height: 12vh;
    }
    .simulasiMode .rocket {
        height: 12vh;
        object-position: -30px 32%;
    }
    .siText h2 {
        font-size: 2vh;
    }
    /*///*/
    .gradientSandbox {
        position: absolute;
        height: 12vh;
        width: 100%;
    }
    .sandboxMode .wrapSa {
        height: 12vh;
    }
    .sandboxMode .planetO {
        height: 12vh;
        object-position: -70px 38%;
    }
    .saText {
        padding: 20px 15px;
        height: 25vh;
    }
    .saText h2 {
        font-size: 2vh;
    }
    /*//*/
    .gradientVersus {
        position: absolute;
        height: 12vh;
        width: 100%;
    }
    .versusMode .wrapVe {
        height: 12vh;
    }
    .versusMode .pencils {
        height: 12vh;
        object-position: -55px 38%;
    }    
    .veText h2 {
        font-size: 2vh;
    }    
} */

@media only screen and (max-width: 620px) {
    .gradientSimulasi {
        height: 15vh;
    }
    .simulasiMode .wrap {
        height: 10vh;
    }
    .simulasiMode .rocket {
        height: 10vh;
        object-position: 0px 32%;
    }
    .siText h2 {
        font-size: 1.5vh;
    }
    .siText p {
        padding-top: 5px;
        font-size: 50%;
    }
    /*///*/
    .gradientSandbox {
        height: 10vh;
    }
    .sandboxMode .wrapSa {
        height: 10vh;
    }
    .sandboxMode .planetO {
        height: 10vh;
        object-position: -50px 38%;
    }
    .saText h2 {
        font-size: 1.5vh;
    }
    .saText p {
        font-size: 70%;
    }
    /*///*/
    .gradientVersus {
        height: 10vh;
    }
    .versusMode .wrapVe {
        height: 10vh;
    }
    .versusMode .pencils {
        height: 10vh;
        object-position: -40px 38%;
    }    
    .veText h2 {
        font-size: 1.5vh;
    }
    .veText p {
        font-size: 70%;
    }    
}