html {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

.warper {
  position: absolute;
  height: 100%;
  width: 105%;
  margin: 6% 4%;
}

@media only screen and (max-width: 430px) {
  .warper {
    height: 100%;
    width: 92%;
    overflow-x: hidden;
    padding-left: 5px;
  }
}

@media only screen and (max-width: 375px) {
  .warper {
    height: 100%;
    width: 93%;
    overflow-x: hidden;
    padding-left: 3px;
  }
}